/* file import */
@import 'base/variables';

.header-top {
    padding: 0.9em 0;
    background: #fff;
    position: relative;
}

@media (max-width:768px){
    .header-top {
        padding: 0.7em 0;
    }
}

@media (max-width:320px){
	.header-top {
        padding: 0.5em 0 0.2em 0;
    }
}
.about-us{
    background-color: $white;
}